<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766209976148-d2q33aqqqo48rp06r4hq2t2eh2su0dn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766209976148-d2q33aqqqo48rp06r4hq2t2eh2su0dn4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>766209976148-fbr9akpme2l2hqq9fbate96849v5pbk2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_EobLfcW3pCoigvu_GENbuHoACby7FEc</string>
	<key>GCM_SENDER_ID</key>
	<string>766209976148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabrielfnascimento.reviewapptcc</string>
	<key>PROJECT_ID</key>
	<string>review-game-app-tcc</string>
	<key>STORAGE_BUCKET</key>
	<string>review-game-app-tcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766209976148:ios:924c631ba70bdc2aea0ac1</string>
	<key>DATABASE_URL</key>
	<string>https://review-game-app-tcc.firebaseio.com</string>
</dict>
</plist>